body {
    padding-top: 0.25em;
    padding-left: 0em;
	padding-right: 1em;
}

#url>input[type="text"] {
	width: 20em;
}

#output {
}

#tree-view {
	position: absolute;
	top: 1em;
	right: 25px;
	border: 1px solid black;
	background: white;
}

#gl-view {
	position: absolute;
	top: 1em;
	right: 125px;
	border: 1px solid black;
	background: white;
}

.element {
    display: block;
    padding: 0.5em;
	padding-left: 1em;
    padding-bottom: 0em;
}

.textnode {
    white-space: pre;
    font-family: monospace;
    margin: 0.5em; 
}

.removed {
    text-decoration: line-through;
}

.node-id {
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #cccccc;
    cursor: pointer;
}

.collapsed:after {
    content: "...";
}

.hidden {
    display: none;
}
